body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: arial, helvetica, sans-serif;
  background-color:#00CD00;
  background-attachment: fixed;
}

.login-card {
  padding: 40px;
  width: 1580px;
  background-color: #F7F7F7;
  margin: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: auto;
}

.login-card6 {
  text-align: center;
  width: 200px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
  margin: 0 auto 0px;
  height: 40px;
}

.login-card5 {
  text-align: center;
  width: 90px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
  margin: 0 auto 0px;
  height: 40px;
}

.login-card4 {
  text-align: center;
  width: 150px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
  margin: 0 auto 0px;
  height: 40px;
}

.login-card3 {
  text-align: center;
  padding: 6px;
  background-color: #F7F7F7;
  border-radius: 2px;
  overflow: hidden;
  position: auto;
  margin: 0 auto 0px;
  height: 40px;
}

.login-card2 {
  text-align: center;
  width: 50px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
  margin: 0 auto 0px;
  height: 40px;
}

.login-card1 {
  width: 30px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-right: auto;
  float: left;
  position: relative;
  margin: 0 auto 0px;
  height: 40px;
}

.logo {
  position: relative;
  display:table;
  margin: 0 auto 100px;
}

.login-card h3 {
  position: relative;
  display:table;
  margin: 0 auto 0px;
  font-weight: 100;
  font-size: 1.1em;
}

.login-card h2 {
  font-weight: 100;
  text-align: center;
  font-size: 1.5em;
}


.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.5em;
}

.login-card input[type=submit] {
  width: 200px;
  display: block;
  margin-left: 40%;
  position: auto;
  margin: 0 auto -40px;
}

.login-card input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  margin: 30 auto 0px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #008B00;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #00FF00;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 15px;
}